<div class="product-card card shadow-sm">
  <a href="#" class="card-image" style="background-image: url('https://via.placeholder.com/600x400');"></a>

  <div class="card-body">
    <h5><a href="#" class="link-secondary">{{title}}</a></h5>
    <p class="card-text text-muted">{{description}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <big><span class="badge bg-dark">{{price}}</span></big>
    </div>
  </div>
</div>