<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Home page'}}
</head>

<body>
  <div class="container py-3">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img"><title>Bootstrap</title><path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path></svg>
          <span class="fs-4">Dress Code</span>
        </a>

        <nav class="nav nav-pills d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link position-relative">
            Cart
            <i class="bi bi-cart-fill"></i>
            <span id="badge-cart-indicator" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
              0
            </span>
          </a></li>
        </nav>
      </div>
    </header>
    <!--header-->

    <main>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://via.placeholder.com/600x400" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Lorem Ipsum</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer maximus purus viverra, ultrices lorem a, egestas mi. Maecenas ac congue nisl. Mauris non justo sit amet odio dapibus tristique.</p>
          </div>
        </div>
      </div>
      <!--container-->

      <div class="py-5">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              {{>productCard
                productId="prod-001"
                title="Product title 1"
                description="1 Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                price="$19.70"
              }}
            </div>
            <!--col-->

            <div class="col">
              {{>productCard
                productId="prod-002"
                title="Product title 2"
                description="2 Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                price="$15.20"
              }}
            </div>
            <!--col-->

            <div class="col">
              {{>productCard
                productId="prod-003"
                title="Product title 3"
                description="3 Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                price="$9.99"
              }}
            </div>
            <!--col-->

            <div class="col">
              {{>productCard
                productId="prod-004"
                title="Product title 4"
                description="4 Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                price="$25.10"
              }}
            </div>
            <!--col-->

            <div class="col">
              {{>productCard
                productId="prod-005"
                title="Product title 5"
                description="5 Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                price="$12.00"
              }}
            </div>
            <!--col-->
          </div>
        </div>
      </div>
    </main>
    <!--main-->

    <!-- Footer -->
    {{>footer}}
  </div>
</body>
</html>
